/**
 * Return proper color depending on background.
 *
 * @param  {color} $color The background color
 * @param  {color} $light The text if BG is light
 * @param  {color} $dark  The text if BG is dark
 * @return {color}        The color of the text depending on background.
 */
meta.foundation-data-attribute-namespace {
  font-family: false; }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

*, *:before, *:after {
  box-sizing: inherit; }

body.admin-bar {
  padding-top: 32px; }
  @media (max-width: 782px) {
    body.admin-bar {
      padding-top: 46px; } }

body {
  font-family: Roboto, "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.7; }

/**
 * Since this is dashboard layout we need 100% width on all
 * elements, so there is no empty space left.
 */
.row {
  max-width: 100%;
  width: 100%; }

p:first-child {
  margin-top: 0; }

p:last-child {
  margin-bottom: 0; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5 {
  line-height: 1.2;
  font-family: Roboto, "Open Sans", sans-serif;
  margin: 0; }

blockquote {
  font-style: italic; }

hr {
  height: 1px;
  border: none;
  width: 100%;
  background: #f0f0f0; }

img.alignright {
  margin: 20px 0 20px 20px; }

img.alignleft {
  margin: 20px 20px 20px 0; }

img.aligncenter {
  margin: 20px auto; }

img {
  max-width: 100%;
  height: auto; }

/**
 * Required classes by WordPress. To pass the theme check
 * stylings to those must be applied, since the SASS watch
 * script is skipping classes that have no properties.
 */
.sticky {
  display: block; }

.bypostauthor {
  display: block; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

#content[tabindex="-1"]:focus {
  outline: 0; }

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

embed,
iframe,
object {
  max-width: 100%; }

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both; }

p {
  margin-bottom: 1.5em; }

dfn,
cite,
em,
i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark,
ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/**
 * Place ul element in the middle of its parent. The structure
 * .center-ul > ul must be followed in order to work. (uds)
 */
.center-ul {
  text-align: center; }
  .center-ul > ul {
    display: inline-block; }

/**
 * WordPress required styling
 */
.float-right {
  float: right; }

.float-left {
  float: left; }

.no-float,
.flost-none {
  float: none; }

.is-hidden {
  display: none; }

.cb {
  clear: both; }

hr.clear {
  border: none;
  background: transparent;
  clear: both; }

/**
 * Text Modifiers
 */
.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-uppercase {
  text-transform: uppercase; }

.text-italic {
  font-style: italic; }

.text-white {
  color: white; }
  .text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6 {
    color: white; }
  .text-white a {
    color: white; }
  .text-white a:hover {
    color: white; }

/**
 * Quick margin classes
 */
.mt-0 {
  margin-top: 0 !important; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mt-80 {
  margin-top: 80px; }

.mt-90 {
  margin-top: 90px; }

.mt-100 {
  margin-top: 100px; }

.mb-0 {
  margin-bottom: 0 !important; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-90 {
  margin-bottom: 90px; }

.mb-100 {
  margin-bottom: 100px; }

/**
 * Helpful on .columns classes
 */
.position-initial {
  position: initial; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.live-comments-wrapper {
  padding: 60px;
  margin-top: 20px;
  background: #f9f9f9; }
  .live-comments-wrapper .live-comments.demo {
    margin: 0 auto;
    width: 760px;
    background: white;
    padding: 40px; }

.live-comments.demo a {
  color: #3490DE; }

.live-comments .article-information {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.live-comments .comments-title {
  color: black;
  font-size: 28px;
  display: inline-block; }

.live-comments .comments-count {
  background: #3490DE;
  color: white;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 5px; }

.live-comments .comments-article {
  display: inline-block;
  font-size: 18px;
  margin-top: 0;
  margin-left: 30px;
  color: #888; }
  .live-comments .comments-article a {
    display: inline-block;
    margin-left: 20px; }
