// Demo layout
.live-comments-wrapper {
	margin-top: 20px;
	background: #f9f9f9;

	// Demo positioning
	.live-comments.demo {
		margin: 0 auto;
		max-width: 760px;
		width: 100%;
		background: white;
		padding: 40px;
	}
}
